

.heading {
  /* Text outline added for clarity */

  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000, 0 0 5px #555;

  color: var(--primary-color);
  font-family: Tektur;
  font-size: 3.25rem;
}

.btns-container {
  display: flex;
  gap: 2rem;
}

.submit-btn {
  --btn-color: var(--primary-color);
}

.clear-btn {
  --btn-color: hsl(0, 0%, 50%);
  --btn-color: var(--secondary-color);
  color: #001829;
}
