@keyframes undulate {
  0% {
    transform: translate(-50%, calc(-50% - var(--border-width) / 2)) scale(1);
  }
  50% {
    transform: translate(-50%, calc(-50% - var(--border-width) / 2)) scale(1.15);
  }
  100% {
    transform: translate(-50%, calc(-50% - var(--border-width) / 2)) scale(1);
  }
}

.heading {
  /* Text outline added for clarity */

  text-shadow: -1px -1px 0 #aaa, 1px -1px 0 #aaa, -1px 1px 0 #aaa,
    1px 1px 0 #aaa, 0 0 10px var(--primary-color);

  color: var(--primary-color);
  font-family: Tektur;
  font-size: 3.25rem;
}

.btns-container {
  display: flex;
  gap: 2rem;
}

.submit-btn {
  --btn-color: var(--secondary-color);
}

.clear-btn {
  --btn-color: hsl(0, 0%, 50%);
}
