.alien {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 20rem;
}

.speech-bubble-container {
  position: absolute;
  /* Verticall align the speech bubble with the alien */
  bottom: calc(20rem + 3em);
  right: 3em;
  max-width: 25%;
  z-index: 20;
}