.robot {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 20rem;
  animation: bobble 5s linear infinite;
}

.speech-bubble-container {
  position: absolute;
  bottom: calc(20rem + 3em);
  right: 3em;
  max-width: 25%;
  z-index: 20;
}
