@keyframes bobble {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.start-btn.btn {
  font-size: 2em;
  --btn-color: #4caf50;
}

.logo {
  animation: bobble 4s linear infinite;
}
